* {
  font-family:'Courier New', Courier, monospace;
  font-weight: 800;
}

body {
  margin: 10px;
  padding: 10px;
  display: flex;  
  background-color: #283618;
  color: #FEFAE0;
}

header {
  padding: 20px 0;
  text-align: center;
}


h1 {
  font-size: 24px; 
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  align-self: center;
}

select, input {
  background-color: #FEFAE0;
  color: #283618;
  margin: 10px;
  padding: 10px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #BC6C25;
  color: #FEFAE0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #DDA15E;
}

table {
  align-self: center;
  width: 100%;
  border-collapse: collapse; 
  margin-top: 10px;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #FEFAE0;
  text-align: left;
}

th {
  background-color: #BC6C25;
  color: #FEFAE0;
}

form {
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-wrapper {
  display: flex;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  flex: 60%;
  align-items: center;
}

.file-list-container {
  flex-direction: column;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  flex: 20px;
  margin-top: 20px;
}


.clickable-row, .warning-line-row, .file-row {
  margin: 10px;
}

.clickable-row:hover, .warning-line-row:hover, .file-row:hover {
  background-color: #606C38;
}

#race_rows_table {
  width: 75%;
}
